Architecture: amd64
Description: Тестовое задание
Maintainer: Владимир Пономаренко
Package: test-pinger
Priority: optional
Section: unknown
Version: 1
Depends: libstdc++6,libm6,libgcc-s1,libc6
Essential: no
